* {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

nav {
    display: flex;
    justify-content: space-between;
    color: #fff;
    align-items: center;
    padding: 2rem 8rem;


}

header {
    background-color: #2B2922;
}

a {

    all: unset;
    margin: 0rem 2rem;
}

.navone {
    color: #847731;
    border: 2px solid #847731;
    border-radius: 11px;
    padding: 0.8rem 2rem;
}

h1 {
    width: 28rem;
    color: #F1F0EF;
    font-size: clamp(2.8rem, 4vw, 5rem);
}

p {
    color: #F1F0EF;
    font-size: clamp(1rem, 1.5vw, 1.6rem);
    margin-left: 20px;
}

.head {
    display: flex;
    justify-content: space-between;
    padding: 2rem 8rem;

}

footer {
    display: flex;
    align-items: center;
    justify-content: end;
    padding: 0rem 0.5rem;
    background-color: #2B2922;
}

.law {
    width: 100%;
    height: 90vh;
}

.img1{
    width: 80px;
    color: #847731;

}